.navbar {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e8f0;
  padding-right: 28px;
  padding-left: 12px;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-logo img {
  height: 40px;
}

.nav-item {
  cursor: pointer;
  gap: 6px;
}

.nav-item i {
  font-size: 20px;
}

.navbar-nav {
  gap: 24px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.nav-link.active {
  color: #3b5ac2;
  font-weight: 600;
}

.active {
  color: #3b5ac2;
}
